body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.row {
    display: flex;
}

.square {
    width: 5px;
    height: 0;
    padding-bottom: 5px;
    background-color: cornsilk;
}

.color {
    background-color: indigo;
}